@import "reset";
@import "variables";
@import "fonts";

//Адаптивное свойство
@mixin adaptiv-value($indentType, $pcSize, $mobSize, $type: 0) {
	$addSize: $pcSize - $mobSize;
	@if $type == 0 {
		@media (max-width: #{$maxWidhtContainer + px}) {
			#{$indentType}: calc(
				#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth+px}) / #{$maxWidhtContainer - $minWidth})
			);
		}
	} @else if $type == 1 {
		@media (min-width: #{$maxWidhtContainer + px}) {
			#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth+px}) / #{$maxWidth - $minWidth}));
		}
	} @else if $type == 2 {
		#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth+px}) / #{$maxWidth - $minWidth}));
	}
}

.container {
	max-width: $maxWidhtContainer + 30 * 2;
	padding: 0 30px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.main {
	flex: 1;
	position: relative;
	display: flex;

	.bg {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background: linear-gradient(180deg, transparent 76.87%, rgba(143, 46, 239, 0.5) 109.67%);
	}
}
.sidebar {
	background-color: #1d1d1d;
	color: white;
	padding: 20px 40px;
}
.logo {
	font-size: 30px;
}
.menu {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__item {
		cursor: pointer;
		&.active {
			color: var(--main);
		}
	}
}
.app-body {
	background-color: black;
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.app-content {
	flex: 1;
}
.header {
	color: white;
	display: flex;
	align-items: center;
	padding: 20px 0;

	&__title {
		flex: 1;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__messages {
		background-color: transparent;
		border: 0;
		padding: 10px;
	}

	&__notices {
		background-color: transparent;
		border: 0;
		padding: 10px;
	}

	&__profile {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		border-radius: 50%;
	}
}
.footer {
	background-color: black;
	padding: 15px;
	&__actions {
		display: flex;
		justify-content: flex-end;
		gap: 10px;

		a {
			color: white;
		}
	}
}

//===========================================================

@import "projects";

//===========================================================

.dn {
	display: none;
}
